.header{
  background-image: url("../img/header-background.png");
  background-size: cover;
  text-align: center;
  align-self: center;
  color: white;

  &__menu{
    ul {
       list-style: none;
       a {
        padding: 1rem 2rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        color: white;
        text-transform: uppercase;
        text-decoration: none;

        &.active{
          color: #00cccc
        }
      }
    }
  }

  &__motto{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    text-transform: capitalize;
    font-size: 32px;
    margin-bottom: 1%;
    padding: 5px;
  }



  &__description{
    font-family: 'Roboto', sans-serif;
    width: 70%;
    font-weight: 300;
    font-size: 14px;
    margin: auto;
  }
  .pagination{
    margin-bottom: 50px;

    ul {
      display: inline-block;
      flex-wrap: wrap;
      width: 100%;
      padding: 0;
    }

    li {
      list-style: none;
      display: inline-block;
    }
  }
  .pagination{
    &__circle{
      display: inline-block;
      border-radius: 100px;
      width: 15px;
      height: 15px;
      border: 1px solid #777;

      &--active{
        background-color: #00cccc;
        border: 1px solid #00cccc;
      }
    }
  }
}

.button{
  display: inline-block;
  text-decoration: none;
  padding: 8px;
  border: 1px solid #00cccc;
  color: #00cccc;
  background-color: Transparent;
  text-transform: uppercase;
  font-family: 'Hammersmith One', Regular;
  cursor: pointer;

  &--header{
    width: 20%;
  }

  &--history{
    margin-top: 3%;
    width: 50%;
  }

  &--team{
    width: 20%;
  }
}

.line{
  display: inline-block;
  height: 1px;
  border-top: 1px solid;
  border: 0;
  padding: 0;

  &__header{
    width: 100px;
    background-color: #00cccc;
  }

  &__team{
    width: 70px;
    background-color: #655c80;
  }

  &__services{
    width: 70px;
    background-color: #655c80;
  }
}



@media screen and (min-width: 800px) {
    ul {
        display: flex;
    }
}

.history{
  text-align: right;
  align-items: center;
  justify-content: center;

  &__text{
    margin-left: 3%;
    text-align: left;
    color: #413d4b;
  }

  &__image{
    img{
      max-width: 100%;
      height: auto;
      width: auto\9;
      line-height: 100%;
    }
  }

  &__title{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    margin: 0;
  }

  &__description{
    font-family: 'Roboto', Regular;
    font-weight: 300;
    font-size: 14px;
  }


}

@media screen and (max-width: 650px) {
    .history__image {
        flex-basis: 0%;
    }

    .history__text{
        flex-basis: 100%;
        min-width: 90%;
    }
}


.team{
  display: flex;
  background-image: url("../img/team-background.png");
  background-size: cover;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;


  &__title{
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    margin-top: 50px;
  }

  &__description{
    font-family: 'Playfair Display', serif;
    font-size: 14px;
  }

  &__workers{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
  }

  &__worker{
    margin: 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    border: 1px solid #7c7791;

    img{
      width: 229px;
      height: 220px;
    }
  }

  &__name{
    display: block;
    padding: 20px;
  }

  &__information{
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1020px) {
  .team__worker:nth-child(2){
    order: 3;
  }
  .team__worker:nth-child(1){
    order: 2;
  }
}

.services{
  color: #413d4b;
  display: flex;
  justify-content: center;
  text-align: center;

  &__title{
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    margin-top: 50px;
  }

  &__description{
    font-family: 'Playfair Display', serif;
    font-size: 14px;
  }

  &__works{
    display: flex;
    justify-content: center;
    flex-flow: wrap;
  }

  &__work{
    width: calc(99%/3);

    h3{
      font-family: 'Roboto', sans-serif;
      font-weight: 900;
    }

    p{
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      color: 333333;
      padding-left: 15px;
      padding-right: 15px;
    }

    img{
      padding-top: 15px;
    }
  }
  &__work--border:nth-child(1){
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
  }

  &__work--border:nth-child(2){
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
  }

  &__work--border:nth-child(3){
    border-bottom: 1px solid #ebebeb;
  }


  &__work--border:nth-child(5){
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
  }

}


@media screen and (max-width: 1003px) {
  .services__work{
    width: calc(99%/2);
  }

  .services__work--border:nth-child(n){ //reset
    border: none;
  }

  .services__work--border:nth-child(1), .services__work--border:nth-child(3), .services__work--border:nth-child(5),  { //reset
    border-right: 1px solid #ebebeb;
  }

  .services__work--border:nth-child(n+3){
    border-top: 1px solid #ebebeb;
  }
}
