.header{
  background-image: url("../img/header-background.png");
  background-size: cover;
  text-align: center;
  align-self: center;
  color: white;

  &__menu{
    ul {
       list-style: none;
       a {
        padding: 1rem 2rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        color: white;
        text-transform: uppercase;
        text-decoration: none;

        &.active{
          color: #00cccc
        }
      }
    }
  }

  &__motto{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    text-transform: capitalize;
    font-size: 32px;
    margin-bottom: 1%;
    padding: 5px;
  }



  &__description{
    font-family: 'Roboto', sans-serif;
    width: 70%;
    font-weight: 300;
    font-size: 14px;
    margin: auto;
  }

  &__line{
    display: inline-block;
    width: 100px;
    height: 1px;
    border-top: 1px solid #00cccc;
    background-color: #00cccc;
    border: 0;
    padding: 0;
  }

  .pagination{
    margin-bottom: 50px;

    ul {
      display: inline-block;
      flex-wrap: wrap;
      width: 100%;
      padding: 0;
    }

    li {
      list-style: none;
      display: inline-block;
    }
  }
  .pagination{
    &__circle{
      display: inline-block;
      border-radius: 100px;
      width: 15px;
      height: 15px;
      border: 1px solid #777;

      &--active{
        background-color: #00cccc;
        border: 1px solid #00cccc;
      }
    }
  }
}

.button{
  display: inline-block;
  text-decoration: none;
  padding: 8px;
  border: 1px solid #00cccc;
  color: #00cccc;
  background-color: Transparent;
  text-transform: uppercase;
  font-family: 'Hammersmith One', Regular;
  cursor: pointer;

  &--header{
    width: 20%;
  }

  &--history{
    margin-top: 3%;
    width: 50%;
  }
}



@media screen and (min-width: 800px) {
    ul {
        display: flex;
    }
}

.history{
  text-align: right;
  align-items: center;
  justify-content: center;

  &__text{
    margin-left: 3%;
    text-align: left;
    color: #413d4b;
  }

  &__image{
    img{
      max-width: 100%;
      height: auto;
      width: auto\9;
      line-height: 100%;
    }
  }

  &__title{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    margin: 0;
  }

  &__description{
    font-family: 'Roboto', Regular;
    font-weight: 300;
    font-size: 14px;
  }


}

@media screen and (max-width: 650px) {
    .history__image {
        flex-basis: 0%;
    }

    .history__text{
        flex-basis: 100%;
        min-width: 90%;
    }
}
