<!DOCTYPE html>
  <html lang="pl" dir="ltr" itemscope itemtype="http://schema.org/Blog">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Hammersmith+One" rel="stylesheet">
    <title>Tajem Master</title>
  </head>
  <body>
    <div class="grid-container">

      <header id="naglowek" class="header">
        <div class="row">
          <div class="col-4">
            <h1> <a href="/"> <img class="logo" alt="Tajam" src=<%= require("./img/tajam-logo.png")%>> </a> </h1>
        </div>
        <nav id="menu" class="col-8 header__menu">
        	<ul>
        		<li> <a href="#naglowek" class="active"> dom </a> </li>
        		<li> <a href="#historia"> historia </a> </li>
        		<li> <a href="#pracownicy"> pracownicy </a> </li>
        		<li> <a href="#uslugi"> Usługi </a> </li>
        		<li> <a href="#"> tekst </a> </li>
        		<li> <a href="#"> tekst </a> </li>
        	</ul>
        </nav>
        </div>
        <div class="row">
          <div class="col-12">
            <h2 class="header__motto"> Jesteśmy wyjątkową firmą pod względem wyjątkowości! </h2>
            <hr class="line line__header">
            <p class="header__description"> Strona nie jest autentyczną wizytówką firmy. Została wykonan w celach ćwiczeniowych i zaprezentowania umiejętności developera. </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button class="button button--header" id="learnMore"> Zobacz Więcej </button>
          </div>
        </div>
        <div class="row">
            <div class="col-12 pagination">
            <ul>
              <li> <span class="pagination__circle pagination__circle--active"> </span> </li>
              <li> <span class="pagination__circle"> </span> </li>
              <li> <span class="pagination__circle"> </span> </li>
              <li> <span class="pagination__circle"> </span> </li>
            </ul>
            </div>
        </div>
      </header>

      <main id="tresc-glowna">
        <section id="historia" >
          <div class="row history">
            <div class="col-3 history__image">
                <img alt="" src=<%= require("./img/huge-tajam-logo.png")%>>
            </div>
            <div class="col-4 history__text">
                  <h2 class="history__title"> Nasza Historia </h2>
                  <p class="history__description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan euismod tinciduntm, aliquam venenatis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan euismod tinciduntm, aliquam venenatis</p>
                  <p class="history__description"> Turpis nec rhoncus efficitur, leo arcu laoreet risus, non dictum lorem nunc eget tellus. Integer scelerisque lobortis neque et pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan euismod tinciduntm, aliquam venenatis </p>
                  <button class="button button--history" id="learnMore"> Zobacz Więcej </button>
            </div>
          </div>
        </section>

        <section id="pracownicy">
          <div class="row team">
            <div class="col-6">
              <h2 class="team__title"> Poznaj nasz wspaniały zespół </h2>
              <p class="team__description"> Lorem ipsum dolor sit amet, consectetur daspi adipiscing elit.</p>
              <hr class="line line__team">
            </div>
            <div class="col-12 team__workers">
              <div class="team__worker"> <img alt="" src=<%= require("./img/worker--einstein.png")%>> <span class="team__name"> Einstein </span> </div>
              <div class="team__worker"> <img alt="" src=<%= require("./img/worker--turing.png")%>> <span class="team__name"> Turing </span> </div>
              <div class="team__worker"> <img alt="" src=<%= require("./img/worker--dirac.png")%>> <span class="team__name"> Dirac </span> </div>
              <div class="team__worker"><img alt="" src=<%= require("./img/worker--tesla.png")%>> <span class="team__name"> Tesla </span> </div>
            </div>
            <div class="col-6 team__information">
              <p> Zostań częścią naszego zespołu, dołącz do nas! </p>
              <button class="button button--team"> Oferty </button>
            </div>
          </div>
        </section>

        <section id="uslugi">
          <div class="row services">
            <div class="col-6">
              <h2 class="services__title"> Nasze Usługi </h2>
              <p class="services__description"> Lorem ipsum dolor sit amet, consectetur daspi adipiscing elit.</p>
              <hr class="line line__services">
            </div>
            <div class="col-9 services__works">
              <div class="services__work services__work--border">
                <img alt="" src=<%= require("./img/services.png")%>>
                <h3> Lorem ipsum </h3>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.  In commodo augue tellus,a ullamcorper</p>
              </div>
              <div class="services__work services__work--border">
                <img alt="" src=<%= require("./img/services.png")%>>
                <h3> Lorem ipsum </h3>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.  In commodo augue tellus,a ullamcorper</p>
              </div>
              <div class="services__work services__work--border">
                <img alt="" src=<%= require("./img/services.png")%>>
                <h3> Lorem ipsum </h3>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.  In commodo augue tellus,a ullamcorper</p>
              </div>
              <div class="services__work services__work--border">
                <img alt="" src=<%= require("./img/services.png")%>>
                <h3> Lorem ipsum </h3>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.  In commodo augue tellus,a ullamcorper</p>
              </div>
              <div class="services__work services__work--border">
                <img alt="" src=<%= require("./img/services.png")%>>
                <h3> Lorem ipsum </h3>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.  In commodo augue tellus,a ullamcorper</p>
              </div>
              <div class="services__work services__work--border">
                <img alt="" src=<%= require("./img/services.png")%>>
                <h3> Lorem ipsum </h3>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.  In commodo augue tellus,a ullamcorper</p>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
